*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
     display: flex; /* horizontally alligned */
    /* display: inline; vertically alligned*/
    justify-content: center;
    flex-direction: column;/*makes content vertical*/
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(44,72,98));
    font-family: sans-serif;
    color: #ffffff;
}

.location,.temperature{
    height: 30vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 50%;
}
.temperature{
    flex-direction: column;

}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}

#symbol{
   position: relative;
   margin: 0;
   padding: 0;
   font-size: 20px;
   /* border: 1px solid ; */
   bottom: 10px;
   left: 5px;
}

/* span::before{
    content: '';
    display: block;
    color: #ffffff;
    border: 10px;
} */
.degree-section h2{
    font-size: 40px;
}
